.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.table {
  --borderColor: #e0e3e8;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  border-collapse: separate;
  width: 100%;
  overflow-x: auto;
  display: block;
}

.headText {
  color: #6b6e75;
}

.table,
th,
td {
  padding: 15px 20px;
  text-align: left;
}

.table td {
  width: 100%;
}

.table tr {
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table tr > * {
  flex: 1 0 150px;
}

.table tr:last-child {
  border-bottom: none;
}

.assignee {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assignee img {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: 50%;
}

.icon {
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.addSubstask {
  padding: 20px;
  color: #868c97;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  width: max-content;
}

.addSubstask button {
  width: 200px;
  margin-top: 30px;
}

.backText {
  color: #8a8c91;
  font-weight: 600;
}

.backText:hover {
  color: #7661ea;
}
