.projectName {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px
}

.quantityTasks {
    font-weight: 400;
    font-size: 16px;
}

.username{
    color: #6B6E75;
    font-weight: 400;
}

.date{
    font-weight: 500;
}