.projectName {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
}

.projectName:hover {
  opacity: 80%;
}

.quantityTasks {
  font-weight: 400;
  font-size: 16px;
}

.username {
  color: #6b6e75;
  font-weight: 400;
}

.date {
  font-weight: 500;
}
